services:
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: tripia_frontend
        ports:
            - "3000:3000"
        volumes:
            - ./frontend:/app
        command: npm run dev
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: tripia_backend
        env_file:
            - ./backend/.env
        ports:
            - "8080:8080"
        volumes:
            - ./backend:/app
        environment:
            - NODE_ENV=development
        command: npm run dev
    db:
        image: postgres:17.2
        container_name: tripia_db
        env_file:
            - ./backend/.env
        ports:
            - "5432:5432"
        volumes:
            - postgres_volume:/var/lib/postgresql/data
volumes:
    postgres_volume:
